:root {
    --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
    --text-shadow-1px: 1px 1px 1px rgba(0,0,0,0.25);
}

@media (prefers-color-scheme: dark) {
    .fancy-bg-text {
        background-image: var(--rainbow-gradient,#fff);
        background-size: 100%;
        background-repeat: repeat;

        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;

        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        filter: drop-shadow(0 0 2rem #000);
    }
}

.text-shadow {
    text-shadow: var(--text-shadow-1px,1px 1px 1px rgba(0,0,0,.3));
}
