@mixin flexr() {
    display: flex;
    flex-direction: row;
}

@mixin flexc() {
    display: flex;
    flex-direction: column;
}

@mixin flexr_center() {
    display: flex;
    flex-direction: row;
    place-items: center;
}

@mixin flexr_space_between() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 0 32px;

    font-size: 12px;
    height: 44px;
    @include flexr_center();

    & > span, & > nav > span {
        font-size: 21px;
    }

    &.double-nav-top {
        color: var(--fg-double-nav-top);
        background-color: var(--bg-double-nav-top);

        &.emerald {
            color: var(--fg-double-nav-green);
            background-color: var(--bg-double-nav-green);
        }

        backdrop-filter: saturate(1.8) blur(20px);
        nav {
            width: 100%;

            & > span {
                font-size: 14px;
            }
        }
        a {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    ul {
        @include flexr();
    }
}

nav, .nav {
    /* use container mixin? */
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;

    width: 100%;

    line-height: var(--nav-height);

    @include flexr_space_between();
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    margin: auto var(--gap);
    /* text-shadow: 2px 2px 2px #ccc; */
}

.main.menu {
    display: flex;
    font-weight: 300;
    margin: auto var(--gap);
}

.main.menu li+li {
    margin-inline-start: var(--gap2);
    /* margin: auto var(--gap2); */
}

.large-heading {
    font-size: 36px;
}

.content, main, .container {
    position: relative;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 5px);
}

footer {
    background-color: var(--bg-footer);
    color: var(--fg-footer);
    min-height: 80vh;
    a, a:visited {
        color: var(--fg-footer);
    }
}
